<div>
  <div
    fxFlex
    fxLayout="row"
    fxLayout.lt-md="column"
    class="header"
    [class.header-large]="!isSmallHeader"
  >
    <div fxFlex="30" fxFlex.lt-md="100" class="profile-picture-frame">
      <img
        src="/assets/roman.webp"
        class="profile-picture"
        [class.profile-picture-small]="isSmallHeader"
      />
    </div>
    <div
      fxFlex="70"
      fxFlex.lt-md="100"
      class="bio"
      ngClass.lt-md="bio-centered"
    >
      Roman Kreisel<br />
      Cloud Software Engineer & Scrum Master
    </div>
  </div>
  <div class="header-placeholder"></div>
</div>
