<mat-card
  class="skill-card"
  id="portfolio-skill-{{ skillHelper.skillNameForElementId }}"
>
  <mat-card-header class="text-ellipsis">
    <div mat-card-avatar class="skill-logo-avatar">
      <img mat-card-avatar [src]="skill.logo" />
    </div>
    <mat-card-title class="text-ellipsis">{{ skillHelper.title }}</mat-card-title>
    <mat-card-subtitle class="text-ellipsis"
      >
      {{skill.selfEvaluation}}<br/>
      Experience: ~{{
        skillHelper.totalExperienceHumanized()
      }}</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="text-multiline-ellipsis">
      {{ skillHelper.description }}
    </div>
  </mat-card-content>
</mat-card>
