<mat-card
  class="skill-card"
  id="portfolio-skill-{{ skillHelper.skillNameForElementId }}"
>
  <mat-card-header class="text-ellipsis">
    <div mat-card-avatar class="skill-logo-avatar">
      <img mat-card-avatar [src]="skill.logo" />
    </div>
    <mat-card-title class="text-ellipsis">{{ skill.title }}</mat-card-title>
    <mat-card-subtitle class="text-ellipsis"
      >Experience: ~{{
        skillHelper.totalExperienceHumanized()
      }}</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="text-multiline-ellipsis">
      This is some sample text, preferable across multiple lines. Lorem ipsum
      dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
      ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.
    </div>
  </mat-card-content>
</mat-card>
