<div fxFlex fxLayout="column">
  <div id="portfolio-filters">
    <mat-slide-toggle
      (change)="includePersonal = !includePersonal"
      [checked]="includePersonal"
      >{{
        "skill-portfolio.includePersonalExperience" | translate
      }}</mat-slide-toggle
    >
    <mat-slide-toggle
      (change)="includeInfrequent = !includeInfrequent"
      [checked]="includeInfrequent"
      >Include skills, that have only infrequently been used</mat-slide-toggle
    >
  </div>
  <br />
  <div *ngIf="portfolio" fxLayout="row wrap" fxLayoutGap="10px">
    <skill-card
      fxFlex.xl="15"
      fxFlex.lg="20"
      fxFlex.md="20"
      fxFlex.sm="45"
      fxFlex.xs="100"
      *ngFor="let skill of portfolio"
      [skillHelper]="getSkillHelper(skill)"
      [includePersonal]="includePersonal"
      [includeInfrequent]="includeInfrequent"
    ></skill-card>
  </div>
</div>
